:root {
    --main-color: #d3ad7f;
    --scroll-color: #ab8d6ac4;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

body {
    background: var(--bg);
}

html {
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 9px;
}

section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    background: var(--main-color);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    border-radius: 12px;
    color: #010103;
}

.link {
    padding: 02rem;
}

.btn:hover {
    letter-spacing: 0.1rem;
}

.content {
    max-width: 60rem;

    & h3 {
        font-size: 6rem;
        color: #fff;
    }

    & p {
        font-size: 2rem;
        color: #eee;
        font-weight: 100;
        padding: 1rem 0;
        line-height: 1.8;
        padding: 1rem 0;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: var(--bg);

    & section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;

        & #menu-toggle {
            display: none;
        }

        & span {
            display: block;
            height: 3px;
            width: 100%;
            background: var(--main-color);
            border-radius: 5px;
            position: absolute;
            transition: all 0.3s ease-in-out;

            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
            }
            &:nth-child(3) {
                bottom: 0;
            }
        }

        & nav a {
            margin: 0 1rem;
            font-size: 1.8rem;
            color: #fff;
        }

        & nav a:hover {
            color: var(--main-color);
            border-bottom: 0.1rem solid var(--main-color);
            padding-bottom: 0.5rem;
            font-size: 2rem;
        }

        & .icons img {
            margin: 1rem;
            cursor: pointer;
        }

        & .icons img:hover {
            width: 40px;
            height: 40px;
        }
    }
}

.header section .menu-btn {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 100;
    display: none;
}

.home-container {
    background: url(./img/home-img.jpg);
    background-size: cover;
    background-position: center;

    & section {
        min-height: 100vh;
        display: flex;
        align-items: center;
    }
}

.title {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 4rem;
    color: var(--main-color);

    & span {
        color: #fff;
    }
}

.about {
    & .rows {
        display: flex;
        align-items: center;
        background: var(--black);
        gap: 1.5rem;
    }

    & .content {
        padding: 2rem;

        & h3 {
            font-size: 3rem;
        }

        & p {
            font-size: 1.6rem;
        }
    }
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

    & .box {
        padding: 5rem;
        text-align: center;
        border: var(--border);
        cursor: pointer;

        & img {
            height: 10rem;
        }

        & h3 {
            font-size: 2rem;
            padding: 1rem 0;
        }

        & .price {
            font-size: 2.5rem;
            padding: 0.5rem 0;
        }

        & span {
            font-size: 1.5rem;
            text-decoration: line-through;
            font-weight: lighter;
        }

        &:hover {
            background-color: var(--black);
        }
    }
}

.review {
    & .box-container {
        & .box {
            border: var(--border);
            text-align: center;
            padding: 3rem 2rem;

            & p {
                font-size: 1.5rem;
                line-height: 1.8;
                padding: 2rem 0;
            }

            & .user {
                height: 7rem;
                width: 7rem;
                border-radius: 50%;
            }
            & img {
                height: 4rem;
            }
        }
    }
}

.address {
    display: flex;
    flex-direction: column;
    align-items: center;

    & iframe {
        border-radius: 16px;
    }
}

footer {
    background-color: var(--black);
    text-align: center;

    & .share {
        padding: 1rem 0;

        & a {
            img {
                margin: 0.3rem;
                cursor: pointer;
                border-radius: 50%;
                padding: 1rem;

                &:hover {
                    text-decoration: none;
                    background-color: var(--main-color);
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .about {
        & .rows {
            flex-direction: column;
        }

        & .rows img {
            position: relative;
            height: 350px;
            width: 100%;
        }

        & .p-none {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .box-container {
        grid-template-columns: 1fr;
    }

    .content {
        & h3 {
            font-size: 4.5rem;
        }

        & p {
            font-size: 1.4rem;
        }
    }

    .title {
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    .header section .icons {
        display: none;
    }

    .header section .menu-btn {
        display: block;
    }
    .header section {
        padding-top: 1rem;
        padding-bottom: 1rem;
        & nav {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: var(--bg);
            flex-direction: column;
            align-items: center;
            border-top: var(--border);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            transition: clip-path 0.4s ease-in-out;
            z-index: 99;
        }

        & nav a {
            display: block;
            margin: 1.5rem 0;
            font-size: 2rem;
        }
    }

    .header section .logo img {
        height: 5rem;
        width: auto;
    }

    #menu-toggle:checked ~ nav {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    #menu-toggle:checked ~ .menu-btn span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }

    #menu-toggle:checked ~ .menu-btn span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked ~ .menu-btn span:nth-child(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }

    .home-container {
        background: url(./img/home-img\ -\ mobile.jpg);
    }

    .about {
        & .rows {
            flex-direction: column;
        }

        & .rows img {
            position: relative;
            height: 350px;
            width: 100%;
        }

        & .p-none {
            display: none;
        }

        & .content h3 {
            font-size: 2.5rem;
        }
        & .content p {
            font-size: 1.5rem;
        }
    }
    .review .box-container .box p {
        font-size: 1.4rem;
    }

    .address iframe {
        width: 100%;
    }
}

@media (max-width: 325px) {
    .home-container {
        & section {
            display: flex;
            align-items: center;
        }

        & .content {
            padding: 2rem;
        }

        & h3 {
            font-size: 4.5rem;
        }

        & p {
            font-size: 1.4rem;
        }
    }

    .link {
        padding: 03rem;
    }
}
